@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about_header{
    position: fixed;
    z-index: 1;
}


/* 메인 사진 */


#about_main{
    width: 100%;
    max-height: auto;
    display: flex;
    position: absolute;
    top: 20%;
    padding: 0 5% 0 5%;
}


/* 메인 왼쪽 얼굴 사진 */


#left_pic{
    width: 30%;
}
.left_pic_change{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 1s;
}
.left_pic_gray {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 1s;
}


/* 메인 가운데 글 */


#paragraph{
    width: 40%;
    text-align: center;
    padding-top: 5% ;
}
#paragraph>.description>h3{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Cardo', serif;
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
#paragraph p {
    font-size: 12px;
    color: #999;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 60px;
}
#paragraph .viewmore{
    width: 90px;
    transition: 0.6s;
    padding: 0 5px 4px 5px;
    display: inline-block;
    border-bottom: 1px solid gray;
    margin-bottom: 10%;    
}
#paragraph .viewmore a{
    text-decoration: none;
    color: #9999;
    font-style: italic;
}
#paragraph .viewmore:hover{
    width: 130px;
    transition:all 0.6s;
}
.arrow{
    font-size: 3em;
    cursor: pointer;
    margin: 0 10% 0 10%;
}

.pages{
    font-style: italic;
    
}
.pages_visible{
    font-style: italic;
    
}


/* 메인 오른쪽 귀걸이 사진 */


#right_pic{
    width: 30%;

}
/*  */
.right_pic_change{
    width: 100%;
    height: 100%;
   
    
}
.right_pic_gray{
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}

/* items 사진들 */
#move_items{
    display: flex;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 5%;
}
.best_product{
    width: 50%;
    padding: 0.5vw 0 0 3vw;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Cardo' , sans-serif;
}
.move_number{
    display: flex;

}
.move_number div {
    font-size: 18px;
    color: #999;
    font-family: 'Cardo' , sans-serif;
    margin-right: 15vw;
    cursor: pointer;
}


/* 아이템 리스트 */
#about_items{
    position: absolute;
    top: 120%;
    left: 0%;
    max-width: 100%;
    height: auto;
}
.about_items_slide{
    width: 100%;
    height: auto; 
    overflow-x: hidden;   
}
.about_items_slide div{
    width: 25%;
    height: 25%;
}
.about_items_slide div img{
    width: 100%;
    padding: 0 2vw 0 2vw ;
    cursor: pointer;
}

/* 아이템 데피니션 */

#items_def{
    display: flex;
    position: absolute;
    top: 175%;
    left: 0;
    width: 100%;
}
.sample{
    width: 100%;
    text-align: center;
}
.product{
    color: #000000;
    font-family: 'Cardo' , sans-serif;
    font-size: 11px;
    padding: 0 0 1em 0;
}
.price{
    color: #000000;
    font-family: 'Cardo' , sans-serif;
    font-size: 13px;
    text-decoration: line-through;
}
